<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retrospectiva curso</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <main class="cinza">
        <img class="inicio" src="../static/img/inicio2.png" alt="Início do site. Bem-vindo!">
        <div class="aviso"><img src="../static/img/clicar.png" alt="Clique onde você quer ir"></div>
        
        <a href=""><div class="local1"></div></a>
        <a href=""><div class="local"></div></a>
        <a href=""><div class="local"></div></a>
        <a href=""><div class="local"></div></a>
        <a href=""><div class="local"></div></a>
        <a href=""><div class="local"></div></a>
        <a href=""><div class="local"></div></a>
        <a href=""><div class="local_secreto"></div></a>
    </main>
</body>
</html>