<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bobagens</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section>
        <div class="d-flex">
            <img class="inicio" src="../static/img/icebergue.png" alt="Início do site. Bem-vindo!">
            <div class="p-absolute position_button">
            <a href="/"><img class="mapa" src="../static/img/mapa.png" alt="Mapa"></a>
            <form action="/incrementar" method="post">
                <button type="submit" class="btn_escondido">BOTÃO LEGAL COISADO</button>
            </div>
        </div>
    </section>
</body>
</html>