<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geral</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section>
        <div class="d-flex">
            <img class="inicio" src="../static/img/casinha_da_mina.png" alt="Início do site. Bem-vindo!">
            <a href="/"><img class="mapa" src="../static/img/mapa.png" alt="Mapa"></a>
            <p>Na categoria geral, eu basicamente fiz vários cursos, esses sendo de LGPD, Desvendando o 5G, Economia Circular e Segurança no Trabalho. Esses cursos foram bem tediosos, sinceramente, mas foram úteis e interessantes da forma deles. Além disso, o tópico geral também foi o responsável por introduzir alguns conteúdos importantes, como cronograma do curso e alguns links de pesquisas.    </p>
        </div>
    </section>
</body>
</html>